<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <queries>
        <package android:name="kr.co.aladin.ebook" />
        <package android:name="com.kyobo.ebook.common.b2c" />
        <package android:name="com.yes24.ebook.fourth"/>
        <package android:name="com.initialcoms.ridi"/>
    </queries>

    <application
        android:name=".MainActivity$WhereIsMyEbook"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/where_is_my_ebook"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/where_is_my_ebook_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhereIsMyEbook"
        tools:targetApi="31">

        <service
            android:name=".util.notification.NotificationListener"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.WhereIsMyEbook">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>